@inherits LayoutComponentBase

    <div class="top-bar">

        <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
            <div>Barrows Chest Simulator</div>
        </NavLink>

        <NavLink target="_blank" href="https://github.com/abyssalen/OSRSBarrowsChestSimulator" class="nav-tab" Match="NavLinkMatch.All">
            <div>GitHub</div>
        </NavLink>


    </div>

<div class="content">
    @Body
</div>

<div class="disclaimer mb-1 mt-8 text-center" style="font-size: 11px; color: #666;">
    Made by Ronnie Tran | This site is not affiliated with Jagex nor RuneScape. RuneScape is a registered trademarks of Jagex. 
    <br>All game assets used on this site such as graphics, fonts, images, text and data compilations are owned by Jagex.<br>
</div>